CHECKPOINT_DIR=./saved/model
CHECKPOINT_PATH=/models/finetuning/dfew/dfrew_fold05/checkpoint_dfew_fold5.pth
DEVICE=cpu
API_PORT=8000
PYTORCH_INDEX=https://download.pytorch.org/whl/cpu
WS_MAX_SIZE=52428800
STREAM_SEGMENT_SEC=10
API_SAVE_DIR=./api_saved
API_SAVE_HOST_DIR=./api_saved
